/* ↓ ОСНОВНЫЕ СТИЛИ ДЛЯ ГЛАВНОГО ТОВАРА ↓ */
.main-good__wrapper {
    width: 100vw;
    margin-bottom: 5.2vh;
}

.main-good__cont {
    display: flex;
    padding: 0 auto;
    justify-content: center;
}

.main-good__image {
    width: 24vw;
    height: 24vw;
    margin-right: 2vw;
}

.good-info {
    width: 24vw;
}

.good-info__title {
    font-family: 'Poppins-semiBold';
    font-size: 2.8vw;
    margin-bottom: 2vh;
}

.good-color_text {
    font-size: .9vw;
    font-family: 'Quicksand-medium';
}

.good-info__add-to-cart {
    margin-bottom: .7vh;
}

.good-info__pay-pal {
    margin-bottom: 1vh;
}

.good-info__more-payments {
    text-align: center;
    font-family: 'Quicksand-medium';
    font-size: 1vw;
    margin-bottom: 2vh;
    text-decoration: underline;
}

.good-info__text1 {
    text-align: center;
    font-family: 'Quicksand-medium';
    font-size: 1.1vw;
    margin-bottom: 2vh;
}

.good-info__text2 {
    text-align: left;
    font-family: 'Quicksand-medium';
    font-size: 1vw;
}
/* ↑ ОСНОВНЫЕ СТИЛИ ДЛЯ ГЛАВНОГО ТОВАРА ↑ */



/* ↓  ↓ */
.goods-grid__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 22vw;
    justify-content: space-between;
}

.base-good-card__image {
    width: 100%;
    height: auto;
}

.base-good-card {
    width: 13vw;
}

.goods-grid__good {
    margin-bottom: 2vh;
}

.base-good-card__title {
    font-family: 'Poppins-semiBold';    
    margin-bottom: .7vh;
}

.base-good-card__review {
    margin-bottom: 1vh;
}

.review-block__stars {
    margin-right: .5vw;
}

.review-block__text {
    color: #282828;
}

.base-good-card__cost {
    display: flex;
    align-items: center;
    margin-bottom: 1.2vh;
}

.base-good-card__now-cost {
    font-size: 1.2vw;
}

.base-good-card__prev-cost {
    font-size: 1vw;
    text-decoration: line-through;
    margin-right: .5vw;
}

.goods-grid__title {
    font-size: 2vw;
}
/* ↑  ↑ */

@media (max-width: 960px) {

    .main-good__image {
        width: 40vw;
        height: 40vw;
    }

    .good-info {
        width: 40vw;
    }

    .good-info__title {
        font-size: 4.5vw;
    }

    .good-info__more-payments {
        font-size: 1.5vw;
    }
    
    .good-info__text1 {
        font-size: 1.7vw;
    }
    
    .good-info__text2 {
        font-size: 1.7vw;
    }


    .goods-grid__wrapper {
        padding: 0 7vw;
    }
    
    .base-good-card {
        width: 40vw;
    }

    .base-good-card__now-cost {
        font-size: 1.4vw;
    }
    
    .base-good-card__prev-cost {
        font-size: 1.2vw;
        text-decoration: line-through;
        margin-right: .5vw;
    }

    .goods-grid__good {
        margin-bottom: 3vh;
    }
}